{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 160,
    "jsxBracketSameLine": false,

    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "parser": "yaml",
                "tabWidth": 2
            }
        }
    ]
}
